<div class="update-container">
    <div class="update-form">
        <a class="back-button" href="/dashboard-employee">Go to BACK</a>

        <div *ngIf="cityzensList.length === 0; else applicationList">
            <p>There are no passports.</p>
        </div>

        <ng-template #applicationList>
            <h1>Citizens of the department </h1>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>ID:</td>
                        <td>First name</td>
                        <td>Last name</td>
                        <td>Username</td>
                        <td>Edit</td>

                    </tr>
                    <tr *ngFor="let cityzen of cityzensList">
                        <td>{{ cityzen.user.id }}</td>
                        <td>{{ cityzen.user.first_name }}</td>
                        <td>{{ cityzen.user.last_name }}</td>
                        <td>{{ cityzen.user.username }}</td>
                        <td>
                            <a (click)="editCityzen(cityzen.id )" class="view-link">Edit</a>
                            <br>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-template>
    </div>
</div>