<div *ngIf="firstErrorMessage; else detailsTemplate" class="error-message">
    {{ firstErrorMessage }}
</div>

<ng-template #detailsTemplate>

    <div class="update-container">
        <div class="update-form">
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
            <div *ngIf="successMessage" class="success-message">
                {{ successMessage }}
            </div>
            <div class="update-form">
                <a href="/view-user" class="button">
                    Go BACK
                </a>
            </div>
            <h2>Edit My Address</h2>
            <form (ngSubmit)="submitForm()">
                <div class="form-group">
                    <label for="number">Street:</label>
                    <input type="text" id="street" name="street" [(ngModel)]="userData.address.street" required>
                </div>
                <div class="form-group">
                    <label for="number">Street Number:</label>
                    <input type="text" id="street_number" name="street_number"
                        [(ngModel)]="userData.address.street_number" required>
                </div>
                <div class="form-group">
                    <label for="number">Region Name:</label>
                    <input type="text" id="region_name" name="region_name" [(ngModel)]="userData.address.region_name"
                        required>
                </div>
                <div class="form-group">
                    <label for="number">Prefecture Name:</label>
                    <input type="text" id="prefecture_name" name="prefecture_name"
                        [(ngModel)]="userData.address.prefecture_name" required>
                </div>
                <div class="form-group">
                    <label for="number">Postal Code:</label>
                    <input type="text" id="postal_code" name="postal_code" [(ngModel)]="userData.address.postal_code"
                        required>
                </div>
                <button type="submit">
                    <span>Update</span>

                </button>
            </form>
        </div>
    </div>
</ng-template>