.update-container {
    text-align: center;
    margin-top: 50px;
}

.update-form {
    display: inline-block;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #888;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.error-message {
    background-color: #f44336;
    /* Red color */
    color: black;
    /* Text color */
    padding: 15px 20px;
    /* Padding */
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    font-size: 16px;
    /* Font size */
    white-space: pre-line;
    /* Κάνει την CSS να διατηρεί τις νέες γραμμές */

}

.success-message {
    background-color: #4caf50;
    /* Green color */
    color: white;
    /* Text color */
    padding: 15px 20px;
    /* Padding */
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    font-size: 16px;
    /* Font size */
    margin-top: 20px;
    /* Add margin for spacing */
}

.button {
    background-color: #cec5c5;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}