<div class="update-container">
    <div class="update-form">
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}

        </div>

        <ng-container *ngIf=" this.type_user === 'cityzen'">
            <a class="back-button" href="/issuance-view-citizen-list">Go to BACK</a>
        </ng-container>
        <br>
        <ng-container *ngIf=" this.type_user != 'cityzen'">
            <a class="back-button" href="/issuance-view-employee-view">Go to BACK</a>
        </ng-container>
        <br>
        <br>

        <ng-container *ngIf="this.flag == true">
            <h1>Passport View</h1>

            <div class="form-group">
                <label>Passport number:</label>
                <p>{{ passportDetails.passport_number}}</p>
            </div>
            <div class="form-group">
                <label>First name:</label>
                <p>{{ passportDetails.first_name}}</p>
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <p>{{ passportDetails.last_name}}</p>
            </div>
            <div class="form-group">
                <label>Date of Birth:</label>
                <p>{{ formatDate(passportDetails.date_of_birth)}}</p>
            </div>
            <div class="form-group">
                <label>Place of birth:</label>
                <p>{{ passportDetails.place_of_birth}}</p>
            </div>
            <div class="form-group">
                <label>Nationality:</label>
                <p>{{ passportDetails.nationality}}</p>
            </div>
            <div class="form-group">
                <label>Gender:</label>
                <p>{{ passportDetails.gender}}</p>
            </div>
            <div class="form-group">
                <label>Date of expiry:</label>
                <p>{{ formatDate(passportDetails.date_of_expiry)}}</p>
            </div>

        </ng-container>

    </div>
</div>