<div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
</div>

<div class="update-container">
    <div class="update-form">
        <a class="back-button" href="/dashboard">Go to BACK</a>

        <div *ngIf="passportDetailsList.length === 0; else applicationList">
            <p>You have no applications</p>
        </div>

        <ng-template #applicationList>
            <h1>My applications Passport </h1>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>ID:</td>
                        <td>Application Type</td>
                        <td>Status:</td>
                        <td>Submitted At:</td>
                        <td>VIEW</td>
                        <td>ACTION</td>

                    </tr>
                    <tr *ngFor="let passportDetails of passportDetailsList">
                        <td>{{ passportDetails.id }}</td>
                        <td>{{ getApplicationTypeDescription(passportDetails.application_type) }}</td>
                        <ng-container
                            *ngIf="passportDetails.status !== 'first_approval' && passportDetails.status !== 'final_approval' ">
                            <td
                                [ngClass]="{'rejected': passportDetails.status === 'rejected', 'pending': passportDetails.status === 'pending', 'canceled': passportDetails.status === 'canceled'}">
                                {{ passportDetails.status }}</td>
                        </ng-container>

                        <ng-container *ngIf="passportDetails.status == 'first_approval'">
                            <td class="first-approval">Το αιτημα παραληφθηκε και εξεταζεται</td>
                        </ng-container>
                        <ng-container *ngIf="passportDetails.status == 'final_approval'">
                            <td class="final-approval">Το αιτημα εγκριθηκε</td>
                        </ng-container>
                        <td>{{ formatDate(passportDetails.submitted_at) }}</td>

                        <td>
                            <a (click)="viewDetails(passportDetails.id,passportDetails.application_type)"
                                class="view-link">View</a>
                        </td>
                        <td>
                            <ng-container *ngIf="passportDetails.status === 'pending'">
                                <a (click)="editDetails(passportDetails.id,passportDetails.application_type)"
                                    class="view-link">Edit</a>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="passportDetails.status === 'pending'">
                                <a (click)="cancel_application(passportDetails.id)" class="view-link">Cancel</a>
                            </ng-container>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-template>
    </div>
</div>