<div *ngIf="errorMessage; else detailsTemplate" class="error-message">
  {{ errorMessage }}
</div>

<ng-template #detailsTemplate>
  <div class="update-container">
    <div class="update-form">
      <a class="back-button" href="/issuance-view-citizen-list">Go to BACK</a>
      <h1>Passport Issuance Details</h1>
      <div class="form-group">
        <label>ID:</label>
        <p>{{ passportDetails.id }}</p>
      </div>
      <div class="form-group">
        <label>Status:</label>
        <p>{{ passportDetails.status }}</p>
      </div>
      <div class="form-group">
        <label>Submitted At:</label>
        <p>{{ formatDate(passportDetails.submitted_at) }}</p>
      </div>

      <div class="form-group" *ngIf="passportDetails.id_card_copy">

        <label>Φωτοαντίγραφο δύο όψεων του δελτίου αστυνομικής ταυτότητας στην ίδια σελίδα:</label>
        <p (click)="downloadFile('id_card_copy', passportDetails.id)" class="download-link">Download ID Card Copy
        </p>

      </div>

      <div class="form-group" *ngIf="passportDetails.applicant_photo">

        <label>Μια πρόσφατη έγχρωμη φωτογραφία 4x6 εκ. συγκεκριμένων τεχνικών προδιαγραφών:</label>
        <p (click)="downloadFile('applicant_photo', passportDetails.id)" class="download-link">Download Photo</p>

      </div>

      <div class="form-group" *ngIf="passportDetails.payment_receipt">

        <label>Παράβολα είσπραξης εσόδων:</label>
        <p (click)="downloadFile('payment_receipt', passportDetails.id)" class="download-link">Download Payment
          Receipt</p>

      </div>

      <div class="form-group" *ngIf="passportDetails.application_form">

        <label>Αίτηση έκδοσης διαβατηρίου που εκτυπώνεται στα Γραφεία Υποδοχής Αιτημάτων:</label>
        <p (click)="downloadFile('application_form', passportDetails.id)" class="download-link">Download Application
          Form</p>

      </div>

      <div class="form-group" *ngIf="passportDetails.old_passport_pdf">

        <label>Παλαιό διαβατήριο:</label>
        <p (click)="downloadFile('old_passport_pdf', passportDetails.id)" class="download-link">Download Old
          Passport</p>

      </div>

      <div class="form-group" *ngIf="passportDetails.police_report">

        <label>Bεβαίωση Ελληνικής Αρχής στην οποία δηλώθηκε η κλοπή, η απώλεια, ή η ολική καταστροφή:</label>
        <p (click)="downloadFile('police_report', passportDetails.id)" class="download-link">Download Old
          Passport</p>

      </div>

      <div class="form-group" *ngIf="passportDetails.caregiver_address_certification">

        <label>Yπεύθυνη Δήλωση (την αναγραφείσα διεύθυνση κατοικίας του ανηλίκου):</label>
        <p (click)="downloadFile('caregiver_address_certification', passportDetails.id)" class="download-link">
          Download Address Certification</p>

      </div>

      <div class="form-group" *ngIf="passportDetails.convicted_declaration">

        <label>Yπεύθυνη Δήλωση (Αν έχει καταδικαστεί τελεσίδικα για πλαστογραφία, πλαστογραφία πιστοποιητικών):</label>
        <p (click)="downloadFile('convicted_declaration', passportDetails.id)" class="download-link">Download
          Convicted Declaration</p>

      </div>

      <div class="form-group" *ngIf="passportDetails.minor_age_declaration">

        <label>Yπεύθυνη Δήλωση (Για την αυτεπάγγελτη αναζήτηση μέσω του Ολοκληρωμένου Πληροφοριακού
          Συστήματος):</label>
        <p (click)="downloadFile('minor_age_declaration', passportDetails.id)" class="download-link">Download
          Age Declaration</p>

      </div>
    </div>
  </div>
</ng-template>