<div class="update-container">
    <div class="update-form">
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
        </div>

        <h2>Registration Form</h2>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <input type="email" formControlName="email" placeholder="Email" required>
            <input type="text" formControlName="first_name" placeholder="First Name" required>
            <input type="text" formControlName="last_name" placeholder="Last Name" required>
            <input type="text" formControlName="username" placeholder="Username" required>
            <input type="password" formControlName="password" placeholder="Password" required
                autocomplete="new-password">
            <button type="submit">
                <span>Sign Up</span>
                <i class="reload-icon" *ngIf="loading"></i> </button>
        </form>
        <br>
        <a class="google-button" (click)="continueWithGoogle()">
            Sign Up with Google
        </a>
        <br>
        <br>
        <br>
        <a href="/login" class="link">
            <span class="black-text">Already have an account?</span> <span class="blue-text"> Log in</span>
        </a>
    </div>
</div>