<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>



<div class="update-container">
  <div class="update-form">

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <h1 class="passport-header">Sign in to e-Passport</h1>
        <label>
          Email:
          <input type="text" formControlName="username">
        </label>
        <div *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched"
          class="error-message">
          Username is required.
        </div>
      </div>

      <div class="form-group">
        <label>
          Password:
          <input type="password" formControlName="password">
        </label>
        <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
          class="error-message">
          Password is required.
        </div>
      </div>
      <br>
      <br>
      <button type="submit">Login</button>
      <br>
      <br>
      <a class="google-button" (click)="continueWithGoogle()">
        Continue with Google
      </a>
      <br>
      <br>
      <br>
      <a class="forgot-password-link" (click)="forgotPassword()">
        Forgot password?
      </a>
      <br>
      <br>
      <a href="/register" class="link">
        <span class="black-text">Don’t have an account?</span> <span class="blue-text"> Sign up</span>
      </a>
    </form>
  </div>
</div>