<div class="container">
  <h1>Welcome to the e-Passport Application System</h1>
  <p>The system allows citizens to submit applications for (renewal, creation, cancellation, reporting theft, etc.) of
    passports, provide necessary documents and information, and track the progress of their application.</p>
  <p>If you're a new user, you can <a routerLink="/register">register</a> for an account.</p>
  <p>If you already have an account, you can <a routerLink="/login">login</a> to access your dashboard.</p>
</div>