<div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>
<div class="update-container">
    <div class="update-form">
        <a class="back-button" href="/dashboard-employee">Go to BACK</a>

        <div *ngIf="passportDetailsList.length === 0; else applicationList">
            <p>You have no applications</p>
        </div>

        <ng-template #applicationList>
            <h1>Applications Passport </h1>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>ID:</td>
                        <td>User:</td>
                        <td>Application Type</td>
                        <td>Status:</td>
                        <td>Submitted At:</td>
                        <td>VIEW</td>
                        <td>ACTIONS</td>

                    </tr>
                    <tr *ngFor="let passportDetails of passportDetailsList">
                        <td>{{ passportDetails.id }}</td>
                        <td>{{ passportDetails.user_details.email }}</td>
                        <td>{{ getApplicationTypeDescription(passportDetails.application_type) }}</td>
                        <td
                            [ngClass]="{'rejected': passportDetails.status === 'rejected', 'pending': passportDetails.status === 'pending', 'canceled': passportDetails.status === 'canceled', 'final-approval': passportDetails.status === 'final_approval','first-approval': passportDetails.status === 'first_approval'}">
                            {{ passportDetails.status }}</td>
                        <td>{{ formatDate(passportDetails.submitted_at) }}</td>

                        <td>
                            <a (click)="viewDetails(passportDetails.id,passportDetails.application_type)"
                                class="view-link">View</a>
                            <br>
                            <br>
                            <ng-container *ngIf="passportDetails.status === 'pending'">
                                <a (click)="editDetails(passportDetails.id,passportDetails.application_type)"
                                    class="view-link">Edit</a>
                            </ng-container>
                        </td>

                        <ng-container *ngIf=" this.type_user === 'employeeYP01' ">
                            <td>
                                <a (click)="first_approval_application(passportDetails.id)" class="view-link">First
                                    Approval</a>
                            </td>
                        </ng-container>
                        <ng-container *ngIf=" this.type_user === 'employeeYP02' ">
                            <td>
                                <a (click)="final_approval_application(passportDetails.id)" class="view-link">Final
                                    approval</a>
                            </td>
                            <td>
                                <a (click)="createPassport(passportDetails.id)" class="view-link">Create
                                    Passport</a>
                            </td>
                            <td>
                                <a (click)="viewPassport(passportDetails.id)" class="view-link">View
                                    Passport</a>
                                <br>
                                <br>
                                <a (click)="editPassport(passportDetails.id)" class="view-link">Edit</a>
                            </td>
                        </ng-container>

                        <td>
                            <a (click)="rejected_application(passportDetails.id)" class="view-link">Reject</a>
                        </td>

                    </tr>
                </table>
            </div>
        </ng-template>
    </div>
</div>