<div class="update-container">

    <div class="update-form">
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
        </div>
        <div class="reset-password-container">
            <h2>Reset Your Password</h2>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" formControlName="newPassword" required>
                </div>
                <button type="submit">
                    <span>Update</span>
                    <i class="reload-icon" *ngIf="loading"></i> </button>
            </form>
        </div>
    </div>
</div>