<div class="update-container">
  <div class="update-form">
    <ng-container *ngIf=" this.type_user !== 'cityzen'">
      <a class="back-button" href="/dashboard-employee">Go to BACK</a>
    </ng-container>
    <ng-container *ngIf=" this.type_user === 'cityzen'">
      <a href="/issuance-view-citizen-list" class="link">
        <span class="black-text">0. Οι Αιτήσεις μου</span>
        <span class="blue-text">Πατήστε εδώ</span>
      </a>
    </ng-container>
    <a href="/issuance-passport" class="link">
      <span class="black-text">1. Έκδοση διαβατηρίου για ενήλικες</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
    <a href="/renewal-passport" class="link">
      <span class="black-text">2. Aνανέωση διαβατηρίου</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
    <a href="/replacement-passport" class="link">
      <span class="black-text">3. Aντικατάσταση διαβατηρίου</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
    <a href="/theftOrLoss-passport" class="link">
      <span class="black-text">4.Έκδοσης διαβατηρίου λόγω κλοπής ή απώλειας</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
    <a href="/issuance-minors-passport" class="link">
      <span class="black-text">5.Έκδοσης διαβατηρίου για ανήλικoυς</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
  </div>
</div>