<div class="update-container">
  <div class="update-form">
    <a href="/issuance-view-citizen-list" class="link">
      <span class="black-text">0. Οι Αιτήσεις μου</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
    <a href="/issuance-passport" class="link">
      <span class="black-text">1. Έκδοση διαβατηρίου για ενήλικες</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
    <a href="/renewal-passport" class="link">
      <span class="black-text">2. Aνανέωση διαβατηρίου</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
    <a href="/replacement-passport" class="link">
      <span class="black-text">3. Aντικατάσταση διαβατηρίου</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
  </div>
</div>