<div class="update-container">
  <div class="update-form">
    <ng-container *ngIf=" this.type_user !== 'employeeSEC'">

      <a href="/issuance-view-employee-view" class="link">
        <span class="black-text">Αιτήσεις για επιβεβαιωση</span>
        <span class="blue-text">Πατήστε εδώ</span>
      </a>

    </ng-container>
    <a href="/dashboard" class="link">
      <span class="black-text">Δημιουργία αιτήματος.</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
    <a href="/issuance-view-employee-all-view" class="link">
      <span class="black-text">Ολες οι αιτησεις του τμηματος</span>
      <span class="blue-text">Πατήστε εδώ</span>
    </a>
    <ng-container *ngIf=" this.type_user !== 'employeeSEC'">

      <a href="/passport-all" class="link">
        <span class="black-text">Ολα τα διαβατηρια του τμηματος</span>
        <span class="blue-text">Πατήστε εδώ</span>
      </a>

    </ng-container>
  </div>
</div>