<div class="update-container">
    <div class="update-form">
        <div *ngIf="errorMessage" class="error-message" [innerHTML]="errorMessage"></div>

        <a class="back-button" href="/dashboard">Go to BACK</a>

        <form (ngSubmit)="onSubmit()" #pdfForm="ngForm">
            <h1>1. Έκδοση διαβατηρίου για ενήλικες</h1>
            <ng-container *ngIf=" this.type_user !== 'cityzen'">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" [(ngModel)]="email">
                </div>
            </ng-container>
            <div class="form-group">
                <label for="id_card_copy">Φωτοαντίγραφο δύο όψεων του δελτίου αστυνομικής ταυτότητας στην ίδια
                    σελίδα:</label>
                <input type="file" id="id_card_copy" (change)="onFileChange($event, 1)" accept=".pdf" required />
            </div>

            <div class="form-group">
                <label for="applicant_photo">Μια πρόσφατη έγχρωμη φωτογραφία 4x6 εκ. συγκεκριμένων τεχνικών
                    προδιαγραφών.</label>
                <input type="file" id="applicant_photo" (change)="onFileChange($event, 2)" accept=".jpg, .jpeg, .png"
                    required />
            </div>

            <div class="form-group">
                <label for="payment_receipt">Παράβολα είσπραξης εσόδων:</label>
                <input type="file" id="payment_receipt" (change)="onFileChange($event, 3)" accept=".pdf" required />
            </div>

            <div class="form-group">
                <label for="application_form">Αίτηση έκδοσης διαβατηρίου που εκτυπώνεται στα Γραφεία Υποδοχής
                    Αιτημάτων:</label>
                <input type="file" id="application_form" (change)="onFileChange($event, 4)" accept=".pdf" required />
            </div>

            <button type="submit" [disabled]="!pdfForm.form.valid">Submit</button>
        </form>
    </div>
</div>