<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>
<div class="update-container">
    <div class="update-form">
        <ng-container *ngIf="departments && departments.length > 0">
            <h1>Departments Information</h1>
        </ng-container>
        <div *ngFor="let department of departments">
            <h2>Department </h2>
            <p><strong>Name:</strong> {{ department.name }}</p>
            <p><strong>Address:</strong>
                {{ department.address ?
                department.address.street + " " + department.address.street_number + " " +
                department.address.region_name + " " + department.address.prefecture_name + " " +
                department.address.postal_code
                :
                ""
                }}
            </p>
            <p><strong>Phone Number: </strong>
                <a href="tel:{{ department.phone_number ? department.phone_number.number : '' }}">
                    {{ department.phone_number ? department.phone_number.number : '' }}
                </a>
            </p>

            <p><strong>Email: </strong> <a href="mailto:{{ department.email }}">{{ department.email }}</a></p> <br>
            <br>
        </div>
        <div>
            <button *ngIf="previousPage" (click)="onPreviousPage()">Previous Page</button>
            <button *ngIf="nextPage" (click)="onNextPage()">Next Page</button>
        </div>
    </div>
</div>