<div class="update-container">
    <div class="update-form">
        <div
            *ngIf="type_user !== 'admin' && type_user !==  'employeeYP01' && type_user !== 'employeeYP02' && type_user !==  'employeeSEC'">
            <div *ngIf="errorMessageDepartment" class="error-message">
                {{ errorMessageDepartment }}
            </div>
        </div>

        <br>
        <br>
        <div class="update-form">

            <a href="/edit-user" class="button">
                Edit Profile
            </a>
        </div>

        <h2>User Information</h2>
        <div *ngIf="userData">

            <div *ngIf="type_user !== 'admin'">
                <p><strong>Department:</strong> {{ department_name }}</p>
            </div>
            <p><strong>ID:</strong> {{ userData.id }}</p>
            <p><strong>Email:</strong> {{ userData.email }}</p>
            <p><strong>First Name:</strong> {{ userData.first_name }}</p>
            <p><strong>Last Name:</strong> {{ userData.last_name }}</p>
            <p><strong>Username:</strong> {{ userData.username }}</p>
        </div>
        <hr>
        <ng-container *ngIf="phoneNumbers.length > 0">
            <h2>My Numbers</h2>
        </ng-container>
        <div *ngIf="errorMessage2" class="error-message">
            {{ errorMessage2 }}
        </div>
        <div *ngIf="successMessage2" class="success-message">
            {{ successMessage2 }}
        </div>
        <br>
        <a href="/add-phone-number" class="pointer-cursor">Add Number</a>
        <div *ngFor="let phoneNumber of phoneNumbers">
            <p><strong>Number:</strong> {{ phoneNumber.phoneNumber.number }}<a (click)="editNumber(phoneNumber.id)"
                    class="pointer-cursor"> Edit Number</a><a (click)="removeNumberOfUser(phoneNumber.id)"
                    class="pointer2-cursor"> Remove Number</a></p>

        </div>

        <div *ngIf="!userData">
            <p>Loading user data...</p>
        </div>

        <hr>
        <ng-container *ngIf="addresses.length > 0">
            <h2>My Addresses</h2>
        </ng-container>
        <div *ngIf="successMessage3" class="success-message">
            {{ successMessage3 }}
        </div>
        <div *ngIf="errorMessage3" class="error-message">
            {{ errorMessage3 }}
        </div>
        <br>
        <a href="/add-address" class="pointer-cursor">Add Address</a>
        <div *ngFor="let address of addresses">
            <p><strong>{{ address.address.street }}</strong> {{ address.address.street_number }} {{
                address.address.region_name }}<a (click)="editAddress(address.id)" class="pointer-cursor"> Edit
                    Address</a><a (click)="removeAddress(address.id)" class="pointer2-cursor"> Remove Address</a></p>

        </div>
        <br>
        <hr>
        <h2>Delete Account</h2>

        <div *ngIf="errorMessagePassword" class="error-message">
            {{ errorMessagePassword }}
        </div>

        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        <form (submit)="delete()">

            <div class="form-group">
                <label for="current_password">Current Password:</label>
                <br>
                <input type="password" id="current_password" name="current_password"
                    [(ngModel)]="passwordData.current_password" required>
            </div>
            <br>
            <button type="submit">
                <span>Delete</span>
                <i class="reload-icon" *ngIf="loading"></i> </button>
        </form>

    </div>
</div>